@using ASPNET_CORE_IlkProje.Models
@{
    ViewData["Title"] = "VeriGetir";
}

<h1>VeriGetir</h1>
@*<h1>
    @(((Urun)TempData["urun"])._adi)
</h1>
<h1>
    @(((Urun)TempData["urun"])._fiyat)
</h1>*@

